In [1]:
import numpy as np
import pandas as pd
from glob import glob
import matplotlib.pyplot as plt
import pickle

from utils import downloadData
from utils import dataProc

In [2]:
read = 1
if read:
    data = dataProc.dataProc()
    df = data.loadData()
    df_dict = data.cleanData(df)
    with open('df_dict.pickle', 'wb') as handle:
        pickle.dump(df_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('df_dict.pickle', 'rb') as handle:
    df_dict = pickle.load(handle)

list files
['./data\\2013.xlsx', './data\\2014.xlsx', './data\\2015.xlsx', './data\\2017.xlsx', './data\\2018.xlsx', './data\\2019.xlsx', './data\\2020abr.xlsx', './data\\2020ago.xlsx', './data\\2020ene.xlsx', './data\\2020jul.xlsx', './data\\2020jun.xlsx', './data\\2020mar.xlsx', './data\\2020may.xlsx']
years files
[WindowsPath('2013.xlsx'), WindowsPath('2014.xlsx'), WindowsPath('2015.xlsx'), WindowsPath('2017.xlsx'), WindowsPath('2018.xlsx'), WindowsPath('2019.xlsx'), WindowsPath('2020ago.xlsx')]
Loading data
Loading data finished
Cleanning data
Cleaning data finsihed

In [44]:
#extract all information in a single df? At least production? 
df = []
for i in df_dict.keys():
    
    df_dict[i]=df_dict[i].dropna(axis=1, thresh=5) #delete rows with just nan values
    df_dict[i].columns = df_dict[i].columns.str.replace(' ', '') 

    df_temp = df_dict[i].groupby('campo').sum() # Grouping as needed
    df_temp['año'] = i #adding año column
    January =  df_dict[i].columns.get_loc('enero')# picking the group first month location
    print(df_temp.iloc[1:2, January-1::]) # Assign clean table
    #df = pd.concat([df, df_temp.iloc[:,January::]], axis='col') #Concatenate 
df

0       febrero        marzo   abril         mayo   junio        julio  \
campo
abarco  5051.25  5700.419355  5654.4  5240.032258  5066.3  5580.645161

0            agosto   septiembre      octubre    noviembre    diciembre   año
campo
abarco  5647.935484  5562.066667  5959.612903  6533.966667  6279.419355  2013
0           febrero        marzo        abril         mayo        junio  \
campo
abarco  5847.214286  5845.967742  5952.033333  5618.967742  5356.266667

0             julio       agosto   septiembre      octubre   año
campo
abarco  6123.903226  5764.193548  5711.666667  6558.064516  2014
0           febrero        marzo   abril         mayo   junio        julio  \
campo
abarco  6565.892857  6151.709677  5867.5  6687.806452  6126.4  7254.741935

0            agosto   septiembre      octubre    noviembre    diciembre   año
campo
abarco  6626.193548  6747.366667  6029.806452  6629.166667  5756.709677  2015
0           febrero        marzo   abril    mayo        junio        julio  \
campo
abarco  3913.964286  3398.741935  3338.9  3654.0  3773.142667  3808.665484

0            agosto   septiembre      octubre    noviembre  diciembre   año
campo
abarco  3596.020968  3203.679667  3440.726129  3236.128667    3305.66  2017
0           febrero        marzo        abril         mayo     junio  \
campo
abarco  3669.928214  3629.268387  4212.234667  3746.409677  3423.801

0             julio      agosto   septiembre      octubre  noviembre  \
campo
abarco  3671.625161  3932.48129  3586.841333  3616.065161   3458.095

0         diciembre   año
campo
abarco  3522.172903  2018
0       febrero    marzo    abril     mayo    junio    julio   agosto  \
campo
abarco  3387.58  3140.82  3201.84  3177.54  3006.53  2912.12  3089.34

0       septiembre  octubre  noviembre  diciembre   año
campo
abarco     3240.09  3285.18    3012.68     2858.6  2019
0       febrero    marzo    abril     mayo    junio    julio  agosto   año
campo
abarco  2842.31  2823.12  2976.47  2774.35  2553.43  2658.67  2733.8  2020

[]

In [29]:
print(df_dict['2014'].head())
df_dict['2014']['enero ']

0 departamento                        cuenca                       operadora  \
1       tolima  VALLE SUPERIOR DEL MAGDALENA   kappa resources colombia ltd.
2       boyaca     VALLE MEDIO DEL MAGDALENA  mansarovar energy colombia ltd
3     casanare             LLANOS ORIENTALES        perenco colombia limited
4    santander     VALLE MEDIO DEL MAGDALENA   kappa resources colombia ltd.
5     putumayo                      PUTUMAYO                ecopetrol d. sur

0         contrato                        campo   enero  febrero     marzo  \
1          abanico                      abanico  1094.48  1114.89  1089.13
2  nare asociacion                       abarco  6637.61  5847.21  5845.97
3           estero                       abejas  109.774      246  239.516
4     las quinchas                  acacia este  4.16129  4.92857  4.54839
5            orito  acae-san miguel (pto colon)  2013.58  2351.32  2550.13

0    abril     mayo    junio    julio   agosto septiembre  octubre   año
1   1114.2     1073  1029.57  1015.42  1004.16    1013.87  958.484  2014
2  5952.03  5618.97  5356.27   6123.9  5764.19    5711.67  6558.06  2014
3    230.7  224.032  216.833  87.9032   197.71    233.167  245.097  2014
4  4.86667   6.3871      6.7  6.19355  6.64516    6.66667  5.58065  2014
5   3082.4  3102.13   2508.8  2115.45  2557.65    2420.27   2511.9  2014

1      1094.48
2      6637.61
3      109.774
4      4.16129
5      2013.58
        ...
467    1447.19
468        626
469          0
470    5.29032
471    4682.35
Name: enero , Length: 471, dtype: object

In [6]:
año = '2020'
A2020 = df_dict[año].groupby('campo').sum()
January= A2020.columns.get_loc("enero")
A2020.iloc[:,January::]

,enero,febrero,marzo,abril,mayo,junio,julio,agosto,año
campo,,,,,,,,,
abanico,507.72,482.58,486.56,472.80,436.48,461.20,497.81,478.22,2020
abarco,2957.72,2842.31,2823.12,2976.47,2774.35,2553.43,2658.67,2733.80,2020
abejas,685.68,715.63,721.75,704.43,698.29,670.02,638.50,646.99,2020
acacia este,5.51,5.65,5.68,0.56,0.00,0.00,0.00,0.00,2020
acae san miguel,1569.34,1550.65,1574.29,1408.10,1398.58,1449.72,1481.78,1538.16,2020
...,...,...,...,...,...,...,...,...,...
yatay,75.38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2020
yenac,0.00,0.00,0.00,0.00,0.00,0.00,76.93,188.52,2020
yurilla,157.28,177.98,29.82,0.00,0.00,0.00,0.00,147.01,2020
zoe,3.27,2.61,0.00,0.00,4.19,0.00,2.77,0.00,2020
zopilote,1244.11,1260.11,1211.95,825.56,714.33,699.26,694.37,611.23,2020