In [1]:
import numpy as np
import pandas as pd
from glob import glob
import matplotlib.pyplot as plt
from utils import cleanData

In [2]:
b = cleanData.cleanData()
df_dict = b.cleanData()

In [3]:
df_dict['2019']

,departamento,municipio,operadora,contrato,campo,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre
1,ANTIOQUIA,PUERTO NARE,ECOPETROL S.A.,TECA COCORNA,AREA TECA-COCORNA,1291.74,1285.1,1281.02,1254.71,1323.26,1268.1,1198.19,1212.39,1356.37,1286.82,1546.81,1558.79
2,ANTIOQUIA,PUERTO NARE,MANSAROVAR ENERGY COLOMBIA LTD,NARE,NARE SUR,179.33,209.05,241.55,244.42,264.89,260.38,210.67,218.99,187.88,189.81,200.45,167.47
3,ANTIOQUIA,PUERTO NARE,MANSAROVAR ENERGY COLOMBIA LTD,NARE,UNDERRIVER,798.3,745.97,736.98,673.28,664.03,1154.56,639.45,710.29,662.89,698.13,657.42,629.09
4,ANTIOQUIA,PUERTO TRIUNFO,ECOPETROL S.A.,TECA COCORNA,AREA TECA-COCORNA,205.95,213.24,199.52,183.49,164.47,164.93,150.85,125.04,131.28,122.17,140.35,60.32
5,ANTIOQUIA,YONDO,ECOPETROL S.A.,MAGDALENA MEDIO,CASABE,10383.3,10307.7,10208.2,10161.9,10251,10108.6,10636.3,9707.98,9795.5,10265.6,10958.9,11769.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,TOLIMA,PURIFICACIÓN,HOCOL S.A.,CHENCHE,CHENCHE,46.51,46,44.41,19.57,63.49,68.14,59.69,56.58,53.74,52.56,51.71,51.13
453,TOLIMA,PURIFICACIÓN,HOCOL S.A.,ESPINAL,MATACHÍN NORTE,1524.08,1337.2,1225.37,1413.39,1379.37,1422.45,1301.09,1296.43,1230.6,1211.36,1199.05,1234.76
454,TOLIMA,PURIFICACIÓN,HOCOL S.A.,ESPINAL,MATACHÍN SUR,101.25,97.32,83.7,126.28,138.12,127.46,116.01,115.65,118.98,113.89,111.06,92.44
455,TOLIMA,PURIFICACIÓN,HOCOL S.A.,ESPINAL,PURIFICACIÓN,159.04,150.64,149.22,146.22,144.94,142.42,136.96,133.55,127.61,128.62,102.48,55.38
456,TOLIMA,SAN LUIS,HOCOL S.A.,ORTEGA,PACANDE,93.07,0,0,0,81.45,110.5,84.16,64.93,55.26,23.62,42.79,50.72

In [ ]:
January= df_dict['2020'].columns.get_loc("enero")
df_dict['2020']['Total_Prod']=df_dict['2020'].iloc[:,January::].fillna(0).sum(axis=1)

In [90]:
df_dict['2020'].isnull().sum()

0
departamento    0
municipio       0
operadora       0
contrato        0
campo           0
enero           0
febrero         0
marzo           0
abril           0
mayo            0
junio           0
julio           0
agosto          0
Total_Prod      0
dtype: int64

In [91]:
#Eliminar duplicados, si los hay
df_dict['2020']=df_dict['2020'].drop_duplicates()

In [92]:
df_dict['2020']

,departamento,municipio,operadora,contrato,campo,enero,febrero,marzo,abril,mayo,junio,julio,agosto,Total_Prod
1,ANTIOQUIA,PUERTO NARE,ECOPETROL S.A.,TECA COCORNA,AREA TECA-COCORNA,1765.84,1689.32,1826.93,1537.57,1238.72,1049.21,975.58,949,11032.17
2,ANTIOQUIA,PUERTO TRIUNFO,ECOPETROL S.A.,TECA COCORNA,AREA TECA-COCORNA,119.7,118.32,81.96,0,0,0,14.05,104.08,438.11
3,ANTIOQUIA,YONDO,ECOPETROL S.A.,MAGDALENA MEDIO,CASABE,11636.6,11584.2,11488.2,10711.5,9483.4,9402.73,9599.38,9527.73,83433.72
4,ANTIOQUIA,YONDO,ECOPETROL S.A.,MAGDALENA MEDIO,CASABE SUR,1852.6,1763.47,1831.5,1838.38,1539.16,1541.67,1573.16,1514.94,13454.88
5,ANTIOQUIA,PUERTO NARE,MANSAROVAR ENERGY COLOMBIA LTD,NARE,NARE SUR,187.33,184.97,173.58,191.32,193.94,166.74,168.84,152.02,1418.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,TOLIMA,CHAPARRAL,HOCOL S.A.,TOLIMA,RÍO SALDAÑA,857.97,816.66,1282.97,1287.09,1214.32,1185.98,1167.73,1133.84,8946.56
410,TOLIMA,ORTEGA,HOCOL S.A.,TOLDADO,TOLDADO,259.71,282.3,312.79,319.39,353.9,435.58,365.26,364.62,2693.55
411,TOLIMA,PIEDRAS,HOCOL S.A.,PULI,TOQUI TOQUI,356.76,374.42,463.51,404.32,365.96,358.03,348.97,362.87,3034.84
412,TOLIMA,ALVARADO,HOCOL S.A.,ARMERO,TOTARE,72.13,73.19,73,70.43,29.06,0,0,0,317.81
413,TOLIMA,ORTEGA,HOCOL S.A.,TOY,TOY,150.35,144.58,139.18,118.99,59.75,0,0,0,612.85

In [93]:
Highest_Prod=df_dict['2020'].groupby('campo')['Total_Prod'].sum().reset_index(name ='Anual_Prod')
#Seleccionar los campos con mayor producción 
Highest_Prod.sort_values(by=['Anual_Prod'], ascending=False).iloc[0:5]

              campo  Anual_Prod
313        RUBIALES   857001.07
72        CASTILLA    537068.14
92       CHICHIMENE   388023.81
74   CASTILLA NORTE   380005.77
298           QUIFA   304783.67

In [99]:
Op_Field_2018=df_dict['2018'].groupby(['operadora','departamento'])['campo'].count().reset_index(name ='#Prod_Fields')
display(Op_Field_2018[(Op_Field_2018['departamento']=='CASANARE')&(Op_Field_2018['#Prod_Fields']>5)].count())
display(Op_Field_2018[(Op_Field_2018['departamento']=='CASANARE')&(Op_Field_2018['#Prod_Fields']>5)])

operadora       8
departamento    8
#Prod_Fields    8
dtype: int64

,operadora,departamento,#Prod_Fields
5,CEPSA COLOMBIA S.A.,CASANARE,6
8,COLOMBIA ENERGY DEVELOPMENT CO,CASANARE,6
16,ECOPETROL S.A.,CASANARE,10
32,Frontera Energy Colombia Corp Sucursal Colombia,CASANARE,37
38,GEOPARK COLOMBIA S.A.S.,CASANARE,22
67,NEW GRANADA ENERGY CORPORATION SUCURSAL COLOMBIA,CASANARE,6
75,PAREX RESOURCES COLOMBIA LTD. SUCURSAL,CASANARE,7
76,PERENCO COLOMBIA LIMITED,CASANARE,36

In [97]:
Jan_2018= df_dict['2018'].columns.get_loc("enero")
df_dict['2018']['Total_Prod']=df_dict['2018'].iloc[:,Jan_2018::].fillna(0).sum(axis=1)
Cont_Highest_Prod= df_dict['2018'].groupby('contrato')['Total_Prod'].sum().reset_index(name ='Anual_Prod')
Cont_Highest_Prod.sort_values(by=['Anual_Prod'], ascending=False).iloc[0:5]

             contrato    Anual_Prod
43           CUBARRAL  4.354378e+06
138          RUBIALES  2.867224e+06
91             LLA 34  1.451159e+06
130             QUIFA  1.108877e+06
75   LA CIRA INFANTAS  1.084830e+06

In [100]:
Op_High_Prod_2019= df_dict['2019'].groupby('operadora')['agosto'].sum().reset_index(name ='Prod_Aug')
Op_High_Prod_2019.sort_values(by=['Prod_Aug'], ascending=False).iloc[0:10]

                                          operadora   Prod_Aug
7                                    ECOPETROL S.A.  473986.41
10  Frontera Energy Colombia Corp Sucursal Colombia   81441.68
11                          GEOPARK COLOMBIA S.A.S.   69154.42
24                       OCCIDENTAL DE COLOMBIA LLC   53299.12
9                            EQUION ENERGÍA LIMITED   34950.01
13                  GRAN TIERRA ENERGY COLOMBIA LTD   29555.20
21                   MANSAROVAR ENERGY COLOMBIA LTD   25256.75
14                                       HOCOL S.A.   19614.02
28           PAREX RESOURCES COLOMBIA LTD. SUCURSAL   15727.97
3                               CEPSA COLOMBIA S.A.   12702.09