In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Import dataset
df_2020=pd.read_excel("Producción Fiscalizada Crudo 2020 Agosto.xlsx", index_col=0) 
#Transformations to remove the header from the Agencia Nacional de Hidrocarburos.  
df_2020=df_2020.dropna(thresh=1)
df_2020=df_2020.reset_index()
df_2020.columns=df_2020.iloc[0]
df_2020=df_2020.drop(df_2020.index[0])
#Eliminate the rows where the value of the field, operator and municipality is null because it  would not be possible 
#to determine these data with the remaining information. 
df_2020= df_2020.drop(df_2020[df_2020["Campo"].isnull() & df_2020["Operadora"].isnull() & df_2020["Municipio"].isnull()].index)
df_2020.head()

,Departamento,Municipio,Operadora,Contrato,Campo,enero,febrero,marzo,abril,mayo,junio,julio,agosto
1,ANTIOQUIA,PUERTO NARE,ECOPETROL S.A.,TECA COCORNA,AREA TECA-COCORNA,1765.84,1689.32,1826.93,1537.57,1238.72,1049.21,975.58,949
2,ANTIOQUIA,PUERTO TRIUNFO,ECOPETROL S.A.,TECA COCORNA,AREA TECA-COCORNA,119.7,118.32,81.96,0,0,0,14.05,104.08
3,ANTIOQUIA,YONDO,ECOPETROL S.A.,MAGDALENA MEDIO,CASABE,11636.6,11584.2,11488.2,10711.5,9483.4,9402.73,9599.38,9527.73
4,ANTIOQUIA,YONDO,ECOPETROL S.A.,MAGDALENA MEDIO,CASABE SUR,1852.6,1763.47,1831.5,1838.38,1539.16,1541.67,1573.16,1514.94
5,ANTIOQUIA,PUERTO NARE,MANSAROVAR ENERGY COLOMBIA LTD,NARE,NARE SUR,187.33,184.97,173.58,191.32,193.94,166.74,168.84,152.02

In [3]:
January= df_2020.columns.get_loc("enero")
df_2020['Total_Prod']=df_2020.iloc[:,January::].fillna(0).sum(axis=1)

In [4]:
df_2020.isnull().sum()

0
Departamento    0
Municipio       0
Operadora       0
Contrato        0
Campo           0
enero           0
febrero         0
marzo           0
abril           0
mayo            0
junio           0
julio           0
agosto          0
Total_Prod      0
dtype: int64

In [5]:
#Eliminar duplicados, si los hay
df_2020=df_2020.drop_duplicates()

In [6]:
Campos_Mayor_Prod=df_2020.groupby('Campo')['Total_Prod'].sum().reset_index(name ='Anual_Prod')
#Seleccionar los campos con mayor producción 
Campos_Mayor_Prod.sort_values(by=['Anual_Prod'], ascending=False).iloc[0:5]

              Campo  Anual_Prod
313        RUBIALES   857001.07
72        CASTILLA    537068.14
92       CHICHIMENE   388023.81
74   CASTILLA NORTE   380005.77
298           QUIFA   304783.67