In [1]:
from main import *
import numpy as np
import pandas as pd
from glob import glob
import matplotlib.pyplot as plt
from utils import cleanData

In [2]:
from utils import downloadData
from utils import cleanData
def run():

    a = downloadData.downloadData()
    a.getData()
    b = cleanData.cleanData()
    df_dict = b.cleanData()
    return df_dict
df_dict=run()

Scrapping started
Scrapping finished
Files downloaded
Cleanning data
data\2013.xlsx
data\2014.xlsx
data\2015.xlsx
data\2017.xlsx
data\2018.xlsx
data\2019.xlsx
Cleaning data finsihed

In [ ]:
#b = cleanData.cleanData()
#df_dict = b.cleanData()

In [3]:
df_dict.keys()

dict_keys(['2013', '2014', '2015', '2017', '2018', '2019', '2020'])

In [4]:
df_dict['2013']

,campo,contrato,cuenca,empresa,departamento,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre
1,Abanico,Abanico,Valle Superior del Magdalena,PACIFIC STRATUS ENERGY,Tolima,1220.71,1258.89,1248.9,1220.83,1194.68,1112.8,1014.35,995.258,1014.6,1142.32,1148.1,1160.1
2,Abarco,Nare,Valle Medio del Magdalena,MANSAROVAR ENERGY COLOMBIA LTD.,Boyacá,5027.19,5051.25,5700.42,5654.4,5240.03,5066.3,5580.65,5647.94,5562.07,5959.61,6533.97,6279.42
3,Abedus,Cravoviejo,Llanos Orientales,C&C ENERGÍA,Casanare,0,0,0,33.6667,3.90323,0.233333,5.06452,19,0,0,0,0
4,Abejas,Estero,Llanos Orientales,PERENCO COLOMBIA LIMITED,Casanare,233.806,307.929,262.968,265.933,271.484,276.533,278.806,272.226,290.633,136.903,0,79.3226
5,Acacia Este,Las Quinchas,Valle Medio del Magdalena,PACIFIC STRATUS ENERGY,Santander,0,0,3.51613,4.36667,4.64516,4.96667,4.29032,4.74194,3.86667,2.74194,4.43333,4.83871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,Yopo,Cubiro,Llanos Orientales,ALANGE ENERGY,Casanare,1132.23,823.393,819.613,667.967,702.677,638.767,569.323,549.355,442.233,522.323,611.2,608.323
422,Yurilla,Mansoyá,Putumayo,ECOPETROL S.A.,Putumayo,232.677,221.643,180.161,208.7,294.71,316.467,281.355,167.548,113.2,278.194,44.7333,0
423,Zoe,Midas,Valle Medio del Magdalena,ECOPETROL S.A.,Cesar,0,0,0,0,10.2903,12.2333,2,6.67742,0,0,2.7,8.06452
424,Zopilote,Cravoviejo,Llanos Orientales,C&C ENERGÍA,Casanare,3141.58,3309.18,3284.16,3695.2,3703.39,3743.23,4413.26,4665.42,4233.7,4258.97,4394.9,4896.16
425,NaN,NaN,NaN,NaN,TOTAL,1.01514e+06,997455,1.01267e+06,1.01139e+06,1.01856e+06,978224,1.02271e+06,1.03338e+06,999781,986265,1.01406e+06,1.00854e+06

In [ ]:
January= df_dict['2020'].columns.get_loc("enero")
df_dict['2020']['Total_Prod']=df_dict['2020'].iloc[:,January::].fillna(0).sum(axis=1)

In [ ]:
df_dict['2020'].isnull().sum()

In [ ]:
#Eliminar duplicados, si los hay
df_dict['2020']=df_dict['2020'].drop_duplicates()

In [ ]:
df_dict['2020']

In [ ]:
Highest_Prod=df_dict['2020'].groupby('campo')['Total_Prod'].sum().reset_index(name ='Anual_Prod')
#Seleccionar los campos con mayor producción 
Highest_Prod.sort_values(by=['Anual_Prod'], ascending=False).iloc[0:5]

In [ ]:
Op_Field_2018=df_dict['2018'].groupby(['operadora','departamento'])['campo'].count().reset_index(name ='#Prod_Fields')
display(Op_Field_2018[(Op_Field_2018['departamento']=='CASANARE')&(Op_Field_2018['#Prod_Fields']>5)].count())
display(Op_Field_2018[(Op_Field_2018['departamento']=='CASANARE')&(Op_Field_2018['#Prod_Fields']>5)])

In [ ]:
Jan_2018= df_dict['2018'].columns.get_loc("enero")
df_dict['2018']['Total_Prod']=df_dict['2018'].iloc[:,Jan_2018::].fillna(0).sum(axis=1)
Cont_Highest_Prod= df_dict['2018'].groupby('contrato')['Total_Prod'].sum().reset_index(name ='Anual_Prod')
Cont_Highest_Prod.sort_values(by=['Anual_Prod'], ascending=False).iloc[0:5]

In [ ]:
Op_High_Prod_2019= df_dict['2019'].groupby('operadora')['agosto'].sum().reset_index(name ='Prod_Aug')
Op_High_Prod_2019.sort_values(by=['Prod_Aug'], ascending=False).iloc[0:10]